.panel#tagcloud
  .caption #{t :tags}
  #tagcloud
    -if @tags
      -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to tag.name, { :controller =>"tag_results",:action => :index, :id => tag.name }, :class => css_class

